.contact_card {
    background-image: linear-gradient(305deg,
            hsl(229deg 100% 30%) 0%,
            hsl(227deg 100% 28%) 18%,
            hsl(226deg 100% 26%) 29%,
            hsl(224deg 100% 23%) 38%,
            hsl(223deg 100% 21%) 47%,
            hsl(221deg 100% 19%) 55%,
            hsl(220deg 100% 17%) 65%,
            hsl(219deg 95% 15%) 78%,
            hsl(221deg 77% 14%) 100%);
    position: relative;
    overflow: hidden;
}

.orange_bg::before {
    content: "";
    bottom: -55px;
    left: 0;
    right: -80%;
    margin: auto;
    position: absolute;
    width: 260px;
    height: 260px;
    background: rgb(255 153 153 / 98%);
    border-radius: 60% 5%;
    z-index: 0;
}

.white_bg::before {
    content: "";
    bottom: -73px;
    left: 20px;
    right: -76%;
    margin: auto;
    position: absolute;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.98);
    border-radius: 60% 25%;
    z-index: 0;
}

.play_animation {
    width: 0px;
    height: 0px;
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 35%;
    left: 55%;
    border-radius: 50%;
    color: #3ad3e7;
}

.play_animation::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background: #965fff;
    border-radius: 50%;
    animation: playbtn 1.6s ease-out infinite;
}

@keyframes playbtn {

    0%,
    30% {
        transform: scale(0);
        opacity: 1;
    }

    50% {
        transform: scale(1.5);
        opacity: .7;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }

}

.social_icon {
    display: block;
    transition: .5s;
}

.social_icon:hover {
    color: #7f97f7;
}